@font-face {
    font-family: thinkingOfBetty;
    src: url(fonts/thinking_of_betty.ttf);
}

html, body {
    width: 100% auto;
    height: 100% auto;
    margin: 0;
	padding: 0;
    background-color: #292929;
    -webkit-transition: background-color 1s ease-in-out;
    font-size: 100%;
}
#wrapper {
    display: table;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
}

h1 {
    position: relative;
    margin-top: 60px !important;
    color: rgba(205, 205, 205, 1);
    font-family: thinkingOfBetty;
    font-size: 3em;
    font-weight: 100;
    font-style: normal;
}
.button {
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
    background-color: #ff9933;
    border-radius: 100%;
    height: 112px;
    width: 112px;

    transition: background-color 0.2s ease;
}
.button:hover {
    background-color: #ffb368;
}
a:visited {
    color: #000;
}
a:link {
    color: #000;
}
.icon {
    width: 48px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}
